<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264217805842-f5f22ogqcr89kqt0rqccjlu1qkuslgle.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264217805842-f5f22ogqcr89kqt0rqccjlu1qkuslgle</string>
	<key>API_KEY</key>
	<string>AIzaSyCOdoA50CpC6M3hb3U0rCSV07jVsbbE_qE</string>
	<key>GCM_SENDER_ID</key>
	<string>264217805842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.deliveryFood</string>
	<key>PROJECT_ID</key>
	<string>delivery-food-8a78a</string>
	<key>STORAGE_BUCKET</key>
	<string>delivery-food-8a78a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264217805842:ios:28874768add484a0f0c4cb</string>
</dict>
</plist>